<% include ../partials/header %>

<!-- Material form contact -->
<div class="form">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Edit <%= tales.name %> !</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form action="/category/sackertales/<%= tales._id %>?_method=PUT" method="POST" class="text-center md-form"
            style="color: #757575;" enctype="multipart/form-data">

            <!-- Name -->
            <div class="md-form mt-5">
                <input type="text" name="name" value="<%= tales.name %>" id="materialContactFormName"
                    class="form-control">
                <label for="materialContactFormName">Name</label>
            </div>

            <!-- Image -->

            <!-- <div class="file-field md-form mt-3">
                <div class="btn btn-primary btn-sm float-left">
                    <span>Choose file</span>
                    <input type="file" name="imgName" value="<%= tales.image %>" class="form-control">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="<%= tales.image %>">
                </div>
            </div> -->

            <div class="input-group mb-5">
                
                <div class="custom-file">
                  <input type="file" name="imgName" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01"><%= tales.image %></label>
                </div>
              </div>


            <!-- <div class="md-form mt-3">
                <input type="file" name="imgName" id="materialContactFormName" class="form-control">
                <label for="materialContactFormName"></label>
            </div> -->



            <!-- Subject
            <span>Subject</span>
            <select class="mdb-select">
                <option value="" disabled>Choose option</option>
                <option value="1" selected>Feedback</option>
                <option value="2">Report a bug</option>
                <option value="3">Feature request</option>
                <option value="4">Feature request</option>
            </select> -->

            <!--Message-->
            <div class="md-form">
                <input type="text" name="description" value="<%= tales.description %>"
                    id="materialContactFormMessage" class="form-control">
                <label for="materialContactFormMessage">Description</label>
            </div>

            <!-- Copy
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialContactFormCopy">
                <label class="form-check-label" for="materialContactFormCopy">Send me a copy of this message</label>
            </div> -->

            <!-- Send button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
                type="submit">Submit</button>

        </form>
        <!-- Form -->
        <a href="/category/sackertales">Go Back</a>
    </div>

</div>
<!-- Material form contact -->

<% include ../partials/footer %>